// GLOBAL MARGIN
.m-0 {
  margin: 0 !important;
}
.m-x-auto {
  margin: auto !important;
}

// MARGIN TOP
.m-t-0 {
  margin-top: 0px !important;
}
.m-t-1 {
  margin-top: 1px !important;
}
.m-t-2 {
  margin-top: 2px !important;
}
.m-t-3 {
  margin-top: 3px !important;
}
.m-t-4 {
  margin-top: 4px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-t-6 {
  margin-top: 6px !important;
}
.m-t-7 {
  margin-top: 7px !important;
}
.m-t-8 {
  margin-top: 8px !important;
}
.m-t-9 {
  margin-top: 9px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-t-11 {
  margin-top: 11px !important;
}
.m-t-12 {
  margin-top: 12px !important;
}
.m-t-13 {
  margin-top: 13px !important;
}
.m-t-14 {
  margin-top: 14px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-t-16 {
  margin-top: 16px !important;
}
.m-t-17 {
  margin-top: 17px !important;
}
.m-t-18 {
  margin-top: 18px !important;
}
.m-t-19 {
  margin-top: 19px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-t-21 {
  margin-top: 21px !important;
}
.m-t-22 {
  margin-top: 22px !important;
}
.m-t-23 {
  margin-top: 23px !important;
}
.m-t-24 {
  margin-top: 24px !important;
}
.m-t-25 {
  margin-top: 25px !important;
}
.m-t-26 {
  margin-top: 26px !important;
}
.m-t-27 {
  margin-top: 27px !important;
}
.m-t-28 {
  margin-top: 28px !important;
}
.m-t-29 {
  margin-top: 29px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-t-31 {
  margin-top: 31px !important;
}
.m-t-32 {
  margin-top: 32px !important;
}
.m-t-33 {
  margin-top: 33px !important;
}
.m-t-34 {
  margin-top: 34px !important;
}
.m-t-35 {
  margin-top: 35px !important;
}
.m-t-36 {
  margin-top: 36px !important;
}
.m-t-37 {
  margin-top: 37px !important;
}
.m-t-38 {
  margin-top: 38px !important;
}
.m-t-39 {
  margin-top: 39px !important;
}
.m-t-40 {
  margin-top: 40px !important;
}
.m-t-41 {
  margin-top: 41px !important;
}
.m-t-42 {
  margin-top: 42px !important;
}
.m-t-43 {
  margin-top: 43px !important;
}
.m-t-44 {
  margin-top: 44px !important;
}
.m-t-45 {
  margin-top: 45px !important;
}
.m-t-46 {
  margin-top: 46px !important;
}
.m-t-47 {
  margin-top: 47px !important;
}
.m-t-48 {
  margin-top: 48px !important;
}
.m-t-49 {
  margin-top: 49px !important;
}
.m-t-50 {
  margin-top: 50px !important;
}
.m-t-51 {
  margin-top: 51px !important;
}
.m-t-52 {
  margin-top: 52px !important;
}
.m-t-53 {
  margin-top: 53px !important;
}
.m-t-54 {
  margin-top: 54px !important;
}
.m-t-55 {
  margin-top: 55px !important;
}
.m-t-56 {
  margin-top: 56px !important;
}
.m-t-57 {
  margin-top: 57px !important;
}
.m-t-58 {
  margin-top: 58px !important;
}
.m-t-59 {
  margin-top: 59px !important;
}
.m-t-60 {
  margin-top: 60px !important;
}
.m-t-61 {
  margin-top: 61px !important;
}
.m-t-62 {
  margin-top: 62px !important;
}
.m-t-63 {
  margin-top: 63px !important;
}
.m-t-64 {
  margin-top: 64px !important;
}
.m-t-65 {
  margin-top: 65px !important;
}
.m-t-66 {
  margin-top: 66px !important;
}
.m-t-67 {
  margin-top: 67px !important;
}
.m-t-68 {
  margin-top: 68px !important;
}
.m-t-69 {
  margin-top: 69px !important;
}
.m-t-70 {
  margin-top: 70px !important;
}
.m-t-71 {
  margin-top: 71px !important;
}
.m-t-72 {
  margin-top: 72px !important;
}
.m-t-73 {
  margin-top: 73px !important;
}
.m-t-74 {
  margin-top: 74px !important;
}
.m-t-75 {
  margin-top: 75px !important;
}
.m-t-76 {
  margin-top: 76px !important;
}
.m-t-77 {
  margin-top: 77px !important;
}
.m-t-78 {
  margin-top: 78px !important;
}
.m-t-79 {
  margin-top: 79px !important;
}
.m-t-80 {
  margin-top: 80px !important;
}
.m-t-81 {
  margin-top: 81px !important;
}
.m-t-82 {
  margin-top: 82px !important;
}
.m-t-83 {
  margin-top: 83px !important;
}
.m-t-84 {
  margin-top: 84px !important;
}
.m-t-85 {
  margin-top: 85px !important;
}
.m-t-86 {
  margin-top: 86px !important;
}
.m-t-87 {
  margin-top: 87px !important;
}
.m-t-88 {
  margin-top: 88px !important;
}
.m-t-89 {
  margin-top: 89px !important;
}
.m-t-90 {
  margin-top: 90px !important;
}
.m-t-91 {
  margin-top: 91px !important;
}
.m-t-92 {
  margin-top: 92px !important;
}
.m-t-93 {
  margin-top: 93px !important;
}
.m-t-94 {
  margin-top: 94px !important;
}
.m-t-95 {
  margin-top: 95px !important;
}
.m-t-96 {
  margin-top: 96px !important;
}
.m-t-97 {
  margin-top: 97px !important;
}
.m-t-98 {
  margin-top: 98px !important;
}
.m-t-99 {
  margin-top: 99px !important;
}
.m-t-100 {
  margin-top: 100px !important;
}

// MARGIN BOTTOM
.m-b-0 {
  margin-bottom: 0 !important;
}
.m-b-1 {
  margin-bottom: 1px !important;
}
.m-b-2 {
  margin-bottom: 2px !important;
}
.m-b-3 {
  margin-bottom: 3px !important;
}
.m-b-4 {
  margin-bottom: 4px !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-b-6 {
  margin-bottom: 6px !important;
}
.m-b-7 {
  margin-bottom: 7px !important;
}
.m-b-8 {
  margin-bottom: 8px !important;
}
.m-b-9 {
  margin-bottom: 9px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-11 {
  margin-bottom: 11px !important;
}
.m-b-12 {
  margin-bottom: 12px !important;
}
.m-b-13 {
  margin-bottom: 13px !important;
}
.m-b-14 {
  margin-bottom: 14px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-b-16 {
  margin-bottom: 16px !important;
}
.m-b-17 {
  margin-bottom: 17px !important;
}
.m-b-18 {
  margin-bottom: 18px !important;
}
.m-b-19 {
  margin-bottom: 19px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-b-21 {
  margin-bottom: 21px !important;
}
.m-b-22 {
  margin-bottom: 22px !important;
}
.m-b-23 {
  margin-bottom: 23px !important;
}
.m-b-24 {
  margin-bottom: 24px !important;
}
.m-b-25 {
  margin-bottom: 25px !important;
}
.m-b-26 {
  margin-bottom: 26px !important;
}
.m-b-27 {
  margin-bottom: 27px !important;
}
.m-b-28 {
  margin-bottom: 28px !important;
}
.m-b-29 {
  margin-bottom: 29px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.m-b-31 {
  margin-bottom: 31px !important;
}
.m-b-32 {
  margin-bottom: 32px !important;
}
.m-b-33 {
  margin-bottom: 33px !important;
}
.m-b-34 {
  margin-bottom: 34px !important;
}
.m-b-35 {
  margin-bottom: 35px !important;
}
.m-b-36 {
  margin-bottom: 36px !important;
}
.m-b-37 {
  margin-bottom: 37px !important;
}
.m-b-38 {
  margin-bottom: 38px !important;
}
.m-b-39 {
  margin-bottom: 39px !important;
}
.m-b-40 {
  margin-bottom: 40px !important;
}
.m-b-41 {
  margin-bottom: 41px !important;
}
.m-b-42 {
  margin-bottom: 42px !important;
}
.m-b-43 {
  margin-bottom: 43px !important;
}
.m-b-44 {
  margin-bottom: 44px !important;
}
.m-b-45 {
  margin-bottom: 45px !important;
}
.m-b-46 {
  margin-bottom: 46px !important;
}
.m-b-47 {
  margin-bottom: 47px !important;
}
.m-b-48 {
  margin-bottom: 48px !important;
}
.m-b-49 {
  margin-bottom: 49px !important;
}
.m-b-50 {
  margin-bottom: 50px !important;
}
.m-b-51 {
  margin-bottom: 51px !important;
}
.m-b-52 {
  margin-bottom: 52px !important;
}
.m-b-53 {
  margin-bottom: 53px !important;
}
.m-b-54 {
  margin-bottom: 54px !important;
}
.m-b-55 {
  margin-bottom: 55px !important;
}
.m-b-56 {
  margin-bottom: 56px !important;
}
.m-b-57 {
  margin-bottom: 57px !important;
}
.m-b-58 {
  margin-bottom: 58px !important;
}
.m-b-59 {
  margin-bottom: 59px !important;
}
.m-b-60 {
  margin-bottom: 60px !important;
}
.m-b-61 {
  margin-bottom: 61px !important;
}
.m-b-62 {
  margin-bottom: 62px !important;
}
.m-b-63 {
  margin-bottom: 63px !important;
}
.m-b-64 {
  margin-bottom: 64px !important;
}
.m-b-65 {
  margin-bottom: 65px !important;
}
.m-b-66 {
  margin-bottom: 66px !important;
}
.m-b-67 {
  margin-bottom: 67px !important;
}
.m-b-68 {
  margin-bottom: 68px !important;
}
.m-b-69 {
  margin-bottom: 69px !important;
}
.m-b-70 {
  margin-bottom: 70px !important;
}
.m-b-71 {
  margin-bottom: 71px !important;
}
.m-b-72 {
  margin-bottom: 72px !important;
}
.m-b-73 {
  margin-bottom: 73px !important;
}
.m-b-74 {
  margin-bottom: 74px !important;
}
.m-b-75 {
  margin-bottom: 75px !important;
}
.m-b-76 {
  margin-bottom: 76px !important;
}
.m-b-77 {
  margin-bottom: 77px !important;
}
.m-b-78 {
  margin-bottom: 78px !important;
}
.m-b-79 {
  margin-bottom: 79px !important;
}
.m-b-80 {
  margin-bottom: 80px !important;
}
.m-b-81 {
  margin-bottom: 81px !important;
}
.m-b-82 {
  margin-bottom: 82px !important;
}
.m-b-83 {
  margin-bottom: 83px !important;
}
.m-b-84 {
  margin-bottom: 84px !important;
}
.m-b-85 {
  margin-bottom: 85px !important;
}
.m-b-86 {
  margin-bottom: 86px !important;
}
.m-b-87 {
  margin-bottom: 87px !important;
}
.m-b-88 {
  margin-bottom: 88px !important;
}
.m-b-89 {
  margin-bottom: 89px !important;
}
.m-b-90 {
  margin-bottom: 90px !important;
}
.m-b-91 {
  margin-bottom: 91px !important;
}
.m-b-92 {
  margin-bottom: 92px !important;
}
.m-b-93 {
  margin-bottom: 93px !important;
}
.m-b-94 {
  margin-bottom: 94px !important;
}
.m-b-95 {
  margin-bottom: 95px !important;
}
.m-b-96 {
  margin-bottom: 96px !important;
}
.m-b-97 {
  margin-bottom: 97px !important;
}
.m-b-98 {
  margin-bottom: 98px !important;
}
.m-b-99 {
  margin-bottom: 99px !important;
}
.m-b-100 {
  margin-bottom: 100px !important;
}

// MARGIN LEFT
.m-l-0 {
  margin-left: 0 !important;
}
.m-l-1 {
  margin-left: 1px !important;
}
.m-l-2 {
  margin-left: 2px !important;
}
.m-l-3 {
  margin-left: 3px !important;
}
.m-l-4 {
  margin-left: 4px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-l-6 {
  margin-left: 6px !important;
}
.m-l-7 {
  margin-left: 7px !important;
}
.m-l-8 {
  margin-left: 8px !important;
}
.m-l-9 {
  margin-left: 9px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-l-11 {
  margin-left: 11px !important;
}
.m-l-12 {
  margin-left: 12px !important;
}
.m-l-13 {
  margin-left: 13px !important;
}
.m-l-14 {
  margin-left: 14px !important;
}
.m-l-15 {
  margin-left: 15px !important;
}
.m-l-16 {
  margin-left: 16px !important;
}
.m-l-17 {
  margin-left: 17px !important;
}
.m-l-18 {
  margin-left: 18px !important;
}
.m-l-19 {
  margin-left: 19px !important;
}
.m-l-20 {
  margin-left: 20px !important;
}
.m-l-21 {
  margin-left: 21px !important;
}
.m-l-22 {
  margin-left: 22px !important;
}
.m-l-23 {
  margin-left: 23px !important;
}
.m-l-24 {
  margin-left: 24px !important;
}
.m-l-25 {
  margin-left: 25px !important;
}
.m-l-26 {
  margin-left: 26px !important;
}
.m-l-27 {
  margin-left: 27px !important;
}
.m-l-28 {
  margin-left: 28px !important;
}
.m-l-29 {
  margin-left: 29px !important;
}
.m-l-30 {
  margin-left: 30px !important;
}
.m-l-31 {
  margin-left: 31px !important;
}
.m-l-32 {
  margin-left: 32px !important;
}
.m-l-33 {
  margin-left: 33px !important;
}
.m-l-34 {
  margin-left: 34px !important;
}
.m-l-35 {
  margin-left: 35px !important;
}
.m-l-36 {
  margin-left: 36px !important;
}
.m-l-37 {
  margin-left: 37px !important;
}
.m-l-38 {
  margin-left: 38px !important;
}
.m-l-39 {
  margin-left: 39px !important;
}
.m-l-40 {
  margin-left: 40px !important;
}
.m-l-41 {
  margin-left: 41px !important;
}
.m-l-42 {
  margin-left: 42px !important;
}
.m-l-43 {
  margin-left: 43px !important;
}
.m-l-44 {
  margin-left: 44px !important;
}
.m-l-45 {
  margin-left: 45px !important;
}
.m-l-46 {
  margin-left: 46px !important;
}
.m-l-47 {
  margin-left: 47px !important;
}
.m-l-48 {
  margin-left: 48px !important;
}
.m-l-49 {
  margin-left: 49px !important;
}
.m-l-50 {
  margin-left: 50px !important;
}
.m-l-51 {
  margin-left: 51px !important;
}
.m-l-52 {
  margin-left: 52px !important;
}
.m-l-53 {
  margin-left: 53px !important;
}
.m-l-54 {
  margin-left: 54px !important;
}
.m-l-55 {
  margin-left: 55px !important;
}
.m-l-56 {
  margin-left: 56px !important;
}
.m-l-57 {
  margin-left: 57px !important;
}
.m-l-58 {
  margin-left: 58px !important;
}
.m-l-59 {
  margin-left: 59px !important;
}
.m-l-60 {
  margin-left: 60px !important;
}
.m-l-61 {
  margin-left: 61px !important;
}
.m-l-62 {
  margin-left: 62px !important;
}
.m-l-63 {
  margin-left: 63px !important;
}
.m-l-64 {
  margin-left: 64px !important;
}
.m-l-65 {
  margin-left: 65px !important;
}
.m-l-66 {
  margin-left: 66px !important;
}
.m-l-67 {
  margin-left: 67px !important;
}
.m-l-68 {
  margin-left: 68px !important;
}
.m-l-69 {
  margin-left: 69px !important;
}
.m-l-70 {
  margin-left: 70px !important;
}
.m-l-71 {
  margin-left: 71px !important;
}
.m-l-72 {
  margin-left: 72px !important;
}
.m-l-73 {
  margin-left: 73px !important;
}
.m-l-74 {
  margin-left: 74px !important;
}
.m-l-75 {
  margin-left: 75px !important;
}
.m-l-76 {
  margin-left: 76px !important;
}
.m-l-77 {
  margin-left: 77px !important;
}
.m-l-78 {
  margin-left: 78px !important;
}
.m-l-79 {
  margin-left: 79px !important;
}
.m-l-80 {
  margin-left: 80px !important;
}
.m-l-81 {
  margin-left: 81px !important;
}
.m-l-82 {
  margin-left: 82px !important;
}
.m-l-83 {
  margin-left: 83px !important;
}
.m-l-84 {
  margin-left: 84px !important;
}
.m-l-85 {
  margin-left: 85px !important;
}
.m-l-86 {
  margin-left: 86px !important;
}
.m-l-87 {
  margin-left: 87px !important;
}
.m-l-88 {
  margin-left: 88px !important;
}
.m-l-89 {
  margin-left: 89px !important;
}
.m-l-90 {
  margin-left: 90px !important;
}
.m-l-91 {
  margin-left: 91px !important;
}
.m-l-92 {
  margin-left: 92px !important;
}
.m-l-93 {
  margin-left: 93px !important;
}
.m-l-94 {
  margin-left: 94px !important;
}
.m-l-95 {
  margin-left: 95px !important;
}
.m-l-96 {
  margin-left: 96px !important;
}
.m-l-97 {
  margin-left: 97px !important;
}
.m-l-98 {
  margin-left: 98px !important;
}
.m-l-99 {
  margin-left: 99px !important;
}
.m-l-100 {
  margin-left: 100px !important;
}

// MARGIN RIGHT
.m-r-0 {
  margin-right: 0 !important;
}
.m-r-1 {
  margin-right: 1px !important;
}
.m-r-2 {
  margin-right: 2px !important;
}
.m-r-3 {
  margin-right: 3px !important;
}
.m-r-4 {
  margin-right: 4px !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-r-6 {
  margin-right: 6px !important;
}
.m-r-7 {
  margin-right: 7px !important;
}
.m-r-8 {
  margin-right: 8px !important;
}
.m-r-9 {
  margin-right: 9px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-r-11 {
  margin-right: 11px !important;
}
.m-r-12 {
  margin-right: 12px !important;
}
.m-r-13 {
  margin-right: 13px !important;
}
.m-r-14 {
  margin-right: 14px !important;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-r-16 {
  margin-right: 16px !important;
}
.m-r-17 {
  margin-right: 17px !important;
}
.m-r-18 {
  margin-right: 18px !important;
}
.m-r-19 {
  margin-right: 19px !important;
}
.m-r-20 {
  margin-right: 20px !important;
}
.m-r-21 {
  margin-right: 21px !important;
}
.m-r-22 {
  margin-right: 22px !important;
}
.m-r-23 {
  margin-right: 23px !important;
}
.m-r-24 {
  margin-right: 24px !important;
}
.m-r-25 {
  margin-right: 25px !important;
}
.m-r-26 {
  margin-right: 26px !important;
}
.m-r-27 {
  margin-right: 27px !important;
}
.m-r-28 {
  margin-right: 28px !important;
}
.m-r-29 {
  margin-right: 29px !important;
}
.m-r-30 {
  margin-right: 30px !important;
}
.m-r-31 {
  margin-right: 31px !important;
}
.m-r-32 {
  margin-right: 32px !important;
}
.m-r-33 {
  margin-right: 33px !important;
}
.m-r-34 {
  margin-right: 34px !important;
}
.m-r-35 {
  margin-right: 35px !important;
}
.m-r-36 {
  margin-right: 36px !important;
}
.m-r-37 {
  margin-right: 37px !important;
}
.m-r-38 {
  margin-right: 38px !important;
}
.m-r-39 {
  margin-right: 39px !important;
}
.m-r-40 {
  margin-right: 40px !important;
}
.m-r-41 {
  margin-right: 41px !important;
}
.m-r-42 {
  margin-right: 42px !important;
}
.m-r-43 {
  margin-right: 43px !important;
}
.m-r-44 {
  margin-right: 44px !important;
}
.m-r-45 {
  margin-right: 45px !important;
}
.m-r-46 {
  margin-right: 46px !important;
}
.m-r-47 {
  margin-right: 47px !important;
}
.m-r-48 {
  margin-right: 48px !important;
}
.m-r-49 {
  margin-right: 49px !important;
}
.m-r-50 {
  margin-right: 50px !important;
}
.m-r-51 {
  margin-right: 51px !important;
}
.m-r-52 {
  margin-right: 52px !important;
}
.m-r-53 {
  margin-right: 53px !important;
}
.m-r-54 {
  margin-right: 54px !important;
}
.m-r-55 {
  margin-right: 55px !important;
}
.m-r-56 {
  margin-right: 56px !important;
}
.m-r-57 {
  margin-right: 57px !important;
}
.m-r-58 {
  margin-right: 58px !important;
}
.m-r-59 {
  margin-right: 59px !important;
}
.m-r-60 {
  margin-right: 60px !important;
}
.m-r-61 {
  margin-right: 61px !important;
}
.m-r-62 {
  margin-right: 62px !important;
}
.m-r-63 {
  margin-right: 63px !important;
}
.m-r-64 {
  margin-right: 64px !important;
}
.m-r-65 {
  margin-right: 65px !important;
}
.m-r-66 {
  margin-right: 66px !important;
}
.m-r-67 {
  margin-right: 67px !important;
}
.m-r-68 {
  margin-right: 68px !important;
}
.m-r-69 {
  margin-right: 69px !important;
}
.m-r-70 {
  margin-right: 70px !important;
}
.m-r-71 {
  margin-right: 71px !important;
}
.m-r-72 {
  margin-right: 72px !important;
}
.m-r-73 {
  margin-right: 73px !important;
}
.m-r-74 {
  margin-right: 74px !important;
}
.m-r-75 {
  margin-right: 75px !important;
}
.m-r-76 {
  margin-right: 76px !important;
}
.m-r-77 {
  margin-right: 77px !important;
}
.m-r-78 {
  margin-right: 78px !important;
}
.m-r-79 {
  margin-right: 79px !important;
}
.m-r-80 {
  margin-right: 80px !important;
}
.m-r-81 {
  margin-right: 81px !important;
}
.m-r-82 {
  margin-right: 82px !important;
}
.m-r-83 {
  margin-right: 83px !important;
}
.m-r-84 {
  margin-right: 84px !important;
}
.m-r-85 {
  margin-right: 85px !important;
}
.m-r-86 {
  margin-right: 86px !important;
}
.m-r-87 {
  margin-right: 87px !important;
}
.m-r-88 {
  margin-right: 88px !important;
}
.m-r-89 {
  margin-right: 89px !important;
}
.m-r-90 {
  margin-right: 90px !important;
}
.m-r-91 {
  margin-right: 91px !important;
}
.m-r-92 {
  margin-right: 92px !important;
}
.m-r-93 {
  margin-right: 93px !important;
}
.m-r-94 {
  margin-right: 94px !important;
}
.m-r-95 {
  margin-right: 95px !important;
}
.m-r-96 {
  margin-right: 96px !important;
}
.m-r-97 {
  margin-right: 97px !important;
}
.m-r-98 {
  margin-right: 98px !important;
}
.m-r-99 {
  margin-right: 99px !important;
}
.m-r-100 {
  margin-right: 100px !important;
}

// MARGIN TOP BOTTOM
.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.m-y-1 {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}
.m-y-2 {
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.m-y-3 {
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}
.m-y-4 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.m-y-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.m-y-6 {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}
.m-y-7 {
  margin-top: 7px !important;
  margin-bottom: 7px !important;
}
.m-y-8 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.m-y-9 {
  margin-top: 9px !important;
  margin-bottom: 9px !important;
}
.m-y-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.m-y-11 {
  margin-top: 11px !important;
  margin-bottom: 11px !important;
}
.m-y-12 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.m-y-13 {
  margin-top: 13px !important;
  margin-bottom: 13px !important;
}
.m-y-14 {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}
.m-y-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.m-y-16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.m-y-17 {
  margin-top: 17px !important;
  margin-bottom: 17px !important;
}
.m-y-18 {
  margin-top: 18px !important;
  margin-bottom: 18px !important;
}
.m-y-19 {
  margin-top: 19px !important;
  margin-bottom: 19px !important;
}
.m-y-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.m-y-21 {
  margin-top: 21px !important;
  margin-bottom: 21px !important;
}
.m-y-22 {
  margin-top: 22px !important;
  margin-bottom: 22px !important;
}
.m-y-23 {
  margin-top: 23px !important;
  margin-bottom: 23px !important;
}
.m-y-24 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}
.m-y-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.m-y-26 {
  margin-top: 26px !important;
  margin-bottom: 26px !important;
}
.m-y-27 {
  margin-top: 27px !important;
  margin-bottom: 27px !important;
}
.m-y-28 {
  margin-top: 28px !important;
  margin-bottom: 28px !important;
}
.m-y-29 {
  margin-top: 29px !important;
  margin-bottom: 29px !important;
}
.m-y-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.m-y-31 {
  margin-top: 31px !important;
  margin-bottom: 31px !important;
}
.m-y-32 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}
.m-y-33 {
  margin-top: 33px !important;
  margin-bottom: 33px !important;
}
.m-y-34 {
  margin-top: 34px !important;
  margin-bottom: 34px !important;
}
.m-y-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}
.m-y-36 {
  margin-top: 36px !important;
  margin-bottom: 36px !important;
}
.m-y-37 {
  margin-top: 37px !important;
  margin-bottom: 37px !important;
}
.m-y-38 {
  margin-top: 38px !important;
  margin-bottom: 38px !important;
}
.m-y-39 {
  margin-top: 39px !important;
  margin-bottom: 39px !important;
}
.m-y-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.m-y-41 {
  margin-top: 41px !important;
  margin-bottom: 41px !important;
}
.m-y-42 {
  margin-top: 42px !important;
  margin-bottom: 42px !important;
}
.m-y-43 {
  margin-top: 43px !important;
  margin-bottom: 43px !important;
}
.m-y-44 {
  margin-top: 44px !important;
  margin-bottom: 44px !important;
}
.m-y-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}
.m-y-46 {
  margin-top: 46px !important;
  margin-bottom: 46px !important;
}
.m-y-47 {
  margin-top: 47px !important;
  margin-bottom: 47px !important;
}
.m-y-48 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}
.m-y-49 {
  margin-top: 49px !important;
  margin-bottom: 49px !important;
}
.m-y-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.m-y-51 {
  margin-top: 51px !important;
  margin-bottom: 51px !important;
}
.m-y-52 {
  margin-top: 52px !important;
  margin-bottom: 52px !important;
}
.m-y-53 {
  margin-top: 53px !important;
  margin-bottom: 53px !important;
}
.m-y-54 {
  margin-top: 54px !important;
  margin-bottom: 54px !important;
}
.m-y-55 {
  margin-top: 55px !important;
  margin-bottom: 55px !important;
}
.m-y-56 {
  margin-top: 56px !important;
  margin-bottom: 56px !important;
}
.m-y-57 {
  margin-top: 57px !important;
  margin-bottom: 57px !important;
}
.m-y-58 {
  margin-top: 58px !important;
  margin-bottom: 58px !important;
}
.m-y-59 {
  margin-top: 59px !important;
  margin-bottom: 59px !important;
}
.m-y-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.m-y-61 {
  margin-top: 61px !important;
  margin-bottom: 61px !important;
}
.m-y-62 {
  margin-top: 62px !important;
  margin-bottom: 62px !important;
}
.m-y-63 {
  margin-top: 63px !important;
  margin-bottom: 63px !important;
}
.m-y-64 {
  margin-top: 64px !important;
  margin-bottom: 64px !important;
}
.m-y-65 {
  margin-top: 65px !important;
  margin-bottom: 65px !important;
}
.m-y-66 {
  margin-top: 66px !important;
  margin-bottom: 66px !important;
}
.m-y-67 {
  margin-top: 67px !important;
  margin-bottom: 67px !important;
}
.m-y-68 {
  margin-top: 68px !important;
  margin-bottom: 68px !important;
}
.m-y-69 {
  margin-top: 69px !important;
  margin-bottom: 69px !important;
}
.m-y-70 {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
}
.m-y-71 {
  margin-top: 71px !important;
  margin-bottom: 71px !important;
}
.m-y-72 {
  margin-top: 72px !important;
  margin-bottom: 72px !important;
}
.m-y-73 {
  margin-top: 73px !important;
  margin-bottom: 73px !important;
}
.m-y-74 {
  margin-top: 74px !important;
  margin-bottom: 74px !important;
}
.m-y-75 {
  margin-top: 75px !important;
  margin-bottom: 75px !important;
}
.m-y-76 {
  margin-top: 76px !important;
  margin-bottom: 76px !important;
}
.m-y-77 {
  margin-top: 77px !important;
  margin-bottom: 77px !important;
}
.m-y-78 {
  margin-top: 78px !important;
  margin-bottom: 78px !important;
}
.m-y-79 {
  margin-top: 79px !important;
  margin-bottom: 79px !important;
}
.m-y-80 {
  margin-top: 80px !important;
  margin-bottom: 80px !important;
}
.m-y-81 {
  margin-top: 81px !important;
  margin-bottom: 81px !important;
}
.m-y-82 {
  margin-top: 82px !important;
  margin-bottom: 82px !important;
}
.m-y-83 {
  margin-top: 83px !important;
  margin-bottom: 83px !important;
}
.m-y-84 {
  margin-top: 84px !important;
  margin-bottom: 84px !important;
}
.m-y-85 {
  margin-top: 85px !important;
  margin-bottom: 85px !important;
}
.m-y-86 {
  margin-top: 86px !important;
  margin-bottom: 86px !important;
}
.m-y-87 {
  margin-top: 87px !important;
  margin-bottom: 87px !important;
}
.m-y-88 {
  margin-top: 88px !important;
  margin-bottom: 88px !important;
}
.m-y-89 {
  margin-top: 89px !important;
  margin-bottom: 89px !important;
}
.m-y-90 {
  margin-top: 90px !important;
  margin-bottom: 90px !important;
}
.m-y-91 {
  margin-top: 91px !important;
  margin-bottom: 91px !important;
}
.m-y-92 {
  margin-top: 92px !important;
  margin-bottom: 92px !important;
}
.m-y-93 {
  margin-top: 93px !important;
  margin-bottom: 93px !important;
}
.m-y-94 {
  margin-top: 94px !important;
  margin-bottom: 94px !important;
}
.m-y-95 {
  margin-top: 95px !important;
  margin-bottom: 95px !important;
}
.m-y-96 {
  margin-top: 96px !important;
  margin-bottom: 96px !important;
}
.m-y-97 {
  margin-top: 97px !important;
  margin-bottom: 97px !important;
}
.m-y-98 {
  margin-top: 98px !important;
  margin-bottom: 98px !important;
}
.m-y-99 {
  margin-top: 99px !important;
  margin-bottom: 99px !important;
}
.m-y-100 {
  margin-top: 100px !important;
  margin-bottom: 100px !important;
}

// MARGIN LEFT RIGHT
.m-x-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.m-x-1 {
  margin-left: 1px !important;
  margin-right: 1px !important;
}
.m-x-2 {
  margin-left: 2px !important;
  margin-right: 2px !important;
}
.m-x-3 {
  margin-left: 3px !important;
  margin-right: 3px !important;
}
.m-x-4 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.m-x-5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.m-x-6 {
  margin-left: 6px !important;
  margin-right: 6px !important;
}
.m-x-7 {
  margin-left: 7px !important;
  margin-right: 7px !important;
}
.m-x-8 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.m-x-9 {
  margin-left: 9px !important;
  margin-right: 9px !important;
}
.m-x-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.m-x-11 {
  margin-left: 11px !important;
  margin-right: 11px !important;
}
.m-x-12 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}
.m-x-13 {
  margin-left: 13px !important;
  margin-right: 13px !important;
}
.m-x-14 {
  margin-left: 14px !important;
  margin-right: 14px !important;
}
.m-x-15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.m-x-16 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.m-x-17 {
  margin-left: 17px !important;
  margin-right: 17px !important;
}
.m-x-18 {
  margin-left: 18px !important;
  margin-right: 18px !important;
}
.m-x-19 {
  margin-left: 19px !important;
  margin-right: 19px !important;
}
.m-x-20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.m-x-21 {
  margin-left: 21px !important;
  margin-right: 21px !important;
}
.m-x-22 {
  margin-left: 22px !important;
  margin-right: 22px !important;
}
.m-x-23 {
  margin-left: 23px !important;
  margin-right: 23px !important;
}
.m-x-24 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}
.m-x-25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.m-x-26 {
  margin-left: 26px !important;
  margin-right: 26px !important;
}
.m-x-27 {
  margin-left: 27px !important;
  margin-right: 27px !important;
}
.m-x-28 {
  margin-left: 28px !important;
  margin-right: 28px !important;
}
.m-x-29 {
  margin-left: 29px !important;
  margin-right: 29px !important;
}
.m-x-30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.m-x-31 {
  margin-left: 31px !important;
  margin-right: 31px !important;
}
.m-x-32 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}
.m-x-33 {
  margin-left: 33px !important;
  margin-right: 33px !important;
}
.m-x-34 {
  margin-left: 34px !important;
  margin-right: 34px !important;
}
.m-x-35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}
.m-x-36 {
  margin-left: 36px !important;
  margin-right: 36px !important;
}
.m-x-37 {
  margin-left: 37px !important;
  margin-right: 37px !important;
}
.m-x-38 {
  margin-left: 38px !important;
  margin-right: 38px !important;
}
.m-x-39 {
  margin-left: 39px !important;
  margin-right: 39px !important;
}
.m-x-40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.m-x-41 {
  margin-left: 41px !important;
  margin-right: 41px !important;
}
.m-x-42 {
  margin-left: 42px !important;
  margin-right: 42px !important;
}
.m-x-43 {
  margin-left: 43px !important;
  margin-right: 43px !important;
}
.m-x-44 {
  margin-left: 44px !important;
  margin-right: 44px !important;
}
.m-x-45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}
.m-x-46 {
  margin-left: 46px !important;
  margin-right: 46px !important;
}
.m-x-47 {
  margin-left: 47px !important;
  margin-right: 47px !important;
}
.m-x-48 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}
.m-x-49 {
  margin-left: 49px !important;
  margin-right: 49px !important;
}
.m-x-50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
.m-x-51 {
  margin-left: 51px !important;
  margin-right: 51px !important;
}
.m-x-52 {
  margin-left: 52px !important;
  margin-right: 52px !important;
}
.m-x-53 {
  margin-left: 53px !important;
  margin-right: 53px !important;
}
.m-x-54 {
  margin-left: 54px !important;
  margin-right: 54px !important;
}
.m-x-55 {
  margin-left: 55px !important;
  margin-right: 55px !important;
}
.m-x-56 {
  margin-left: 56px !important;
  margin-right: 56px !important;
}
.m-x-57 {
  margin-left: 57px !important;
  margin-right: 57px !important;
}
.m-x-58 {
  margin-left: 58px !important;
  margin-right: 58px !important;
}
.m-x-59 {
  margin-left: 59px !important;
  margin-right: 59px !important;
}
.m-x-60 {
  margin-left: 60px !important;
  margin-right: 60px !important;
}
.m-x-61 {
  margin-left: 61px !important;
  margin-right: 61px !important;
}
.m-x-62 {
  margin-left: 62px !important;
  margin-right: 62px !important;
}
.m-x-63 {
  margin-left: 63px !important;
  margin-right: 63px !important;
}
.m-x-64 {
  margin-left: 64px !important;
  margin-right: 64px !important;
}
.m-x-65 {
  margin-left: 65px !important;
  margin-right: 65px !important;
}
.m-x-66 {
  margin-left: 66px !important;
  margin-right: 66px !important;
}
.m-x-67 {
  margin-left: 67px !important;
  margin-right: 67px !important;
}
.m-x-68 {
  margin-left: 68px !important;
  margin-right: 68px !important;
}
.m-x-69 {
  margin-left: 69px !important;
  margin-right: 69px !important;
}
.m-x-70 {
  margin-left: 70px !important;
  margin-right: 70px !important;
}
.m-x-71 {
  margin-left: 71px !important;
  margin-right: 71px !important;
}
.m-x-72 {
  margin-left: 72px !important;
  margin-right: 72px !important;
}
.m-x-73 {
  margin-left: 73px !important;
  margin-right: 73px !important;
}
.m-x-74 {
  margin-left: 74px !important;
  margin-right: 74px !important;
}
.m-x-75 {
  margin-left: 75px !important;
  margin-right: 75px !important;
}
.m-x-76 {
  margin-left: 76px !important;
  margin-right: 76px !important;
}
.m-x-77 {
  margin-left: 77px !important;
  margin-right: 77px !important;
}
.m-x-78 {
  margin-left: 78px !important;
  margin-right: 78px !important;
}
.m-x-79 {
  margin-left: 79px !important;
  margin-right: 79px !important;
}
.m-x-80 {
  margin-left: 80px !important;
  margin-right: 80px !important;
}
.m-x-81 {
  margin-left: 81px !important;
  margin-right: 81px !important;
}
.m-x-82 {
  margin-left: 82px !important;
  margin-right: 82px !important;
}
.m-x-83 {
  margin-left: 83px !important;
  margin-right: 83px !important;
}
.m-x-84 {
  margin-left: 84px !important;
  margin-right: 84px !important;
}
.m-x-85 {
  margin-left: 85px !important;
  margin-right: 85px !important;
}
.m-x-86 {
  margin-left: 86px !important;
  margin-right: 86px !important;
}
.m-x-87 {
  margin-left: 87px !important;
  margin-right: 87px !important;
}
.m-x-88 {
  margin-left: 88px !important;
  margin-right: 88px !important;
}
.m-x-89 {
  margin-left: 89px !important;
  margin-right: 89px !important;
}
.m-x-90 {
  margin-left: 90px !important;
  margin-right: 90px !important;
}
.m-x-91 {
  margin-left: 91px !important;
  margin-right: 91px !important;
}
.m-x-92 {
  margin-left: 92px !important;
  margin-right: 92px !important;
}
.m-x-93 {
  margin-left: 93px !important;
  margin-right: 93px !important;
}
.m-x-94 {
  margin-left: 94px !important;
  margin-right: 94px !important;
}
.m-x-95 {
  margin-left: 95px !important;
  margin-right: 95px !important;
}
.m-x-96 {
  margin-left: 96px !important;
  margin-right: 96px !important;
}
.m-x-97 {
  margin-left: 97px !important;
  margin-right: 97px !important;
}
.m-x-98 {
  margin-left: 98px !important;
  margin-right: 98px !important;
}
.m-x-99 {
  margin-left: 99px !important;
  margin-right: 99px !important;
}
.m-x-100 {
  margin-left: 100px !important;
  margin-right: 100px !important;
}
