.p-0 {
  padding: 0 !important;
}
.p-x-auto {
  padding: auto;
}

// PADDING TOP
.p-t-0 {
  padding-top: 0px !important;
}
.p-t-1 {
  padding-top: 1px !important;
}
.p-t-2 {
  padding-top: 2px !important;
}
.p-t-3 {
  padding-top: 3px !important;
}
.p-t-4 {
  padding-top: 4px !important;
}
.p-t-5 {
  padding-top: 5px !important;
}
.p-t-6 {
  padding-top: 6px !important;
}
.p-t-7 {
  padding-top: 7px !important;
}
.p-t-8 {
  padding-top: 8px !important;
}
.p-t-9 {
  padding-top: 9px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-t-11 {
  padding-top: 11px !important;
}
.p-t-12 {
  padding-top: 12px !important;
}
.p-t-13 {
  padding-top: 13px !important;
}
.p-t-14 {
  padding-top: 14px !important;
}
.p-t-15 {
  padding-top: 15px !important;
}
.p-t-16 {
  padding-top: 16px !important;
}
.p-t-17 {
  padding-top: 17px !important;
}
.p-t-18 {
  padding-top: 18px !important;
}
.p-t-19 {
  padding-top: 19px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-t-21 {
  padding-top: 21px !important;
}
.p-t-22 {
  padding-top: 22px !important;
}
.p-t-23 {
  padding-top: 23px !important;
}
.p-t-24 {
  padding-top: 24px !important;
}
.p-t-25 {
  padding-top: 25px !important;
}
.p-t-26 {
  padding-top: 26px !important;
}
.p-t-27 {
  padding-top: 27px !important;
}
.p-t-28 {
  padding-top: 28px !important;
}
.p-t-29 {
  padding-top: 29px !important;
}
.p-t-30 {
  padding-top: 30px !important;
}
.p-t-31 {
  padding-top: 31px !important;
}
.p-t-32 {
  padding-top: 32px !important;
}
.p-t-33 {
  padding-top: 33px !important;
}
.p-t-34 {
  padding-top: 34px !important;
}
.p-t-35 {
  padding-top: 35px !important;
}
.p-t-36 {
  padding-top: 36px !important;
}
.p-t-37 {
  padding-top: 37px !important;
}
.p-t-38 {
  padding-top: 38px !important;
}
.p-t-39 {
  padding-top: 39px !important;
}
.p-t-40 {
  padding-top: 40px !important;
}
.p-t-41 {
  padding-top: 41px !important;
}
.p-t-42 {
  padding-top: 42px !important;
}
.p-t-43 {
  padding-top: 43px !important;
}
.p-t-44 {
  padding-top: 44px !important;
}
.p-t-45 {
  padding-top: 45px !important;
}
.p-t-46 {
  padding-top: 46px !important;
}
.p-t-47 {
  padding-top: 47px !important;
}
.p-t-48 {
  padding-top: 48px !important;
}
.p-t-49 {
  padding-top: 49px !important;
}
.p-t-50 {
  padding-top: 50px !important;
}
.p-t-51 {
  padding-top: 51px !important;
}
.p-t-52 {
  padding-top: 52px !important;
}
.p-t-53 {
  padding-top: 53px !important;
}
.p-t-54 {
  padding-top: 54px !important;
}
.p-t-55 {
  padding-top: 55px !important;
}
.p-t-56 {
  padding-top: 56px !important;
}
.p-t-57 {
  padding-top: 57px !important;
}
.p-t-58 {
  padding-top: 58px !important;
}
.p-t-59 {
  padding-top: 59px !important;
}
.p-t-60 {
  padding-top: 60px !important;
}
.p-t-61 {
  padding-top: 61px !important;
}
.p-t-62 {
  padding-top: 62px !important;
}
.p-t-63 {
  padding-top: 63px !important;
}
.p-t-64 {
  padding-top: 64px !important;
}
.p-t-65 {
  padding-top: 65px !important;
}
.p-t-66 {
  padding-top: 66px !important;
}
.p-t-67 {
  padding-top: 67px !important;
}
.p-t-68 {
  padding-top: 68px !important;
}
.p-t-69 {
  padding-top: 69px !important;
}
.p-t-70 {
  padding-top: 70px !important;
}
.p-t-71 {
  padding-top: 71px !important;
}
.p-t-72 {
  padding-top: 72px !important;
}
.p-t-73 {
  padding-top: 73px !important;
}
.p-t-74 {
  padding-top: 74px !important;
}
.p-t-75 {
  padding-top: 75px !important;
}
.p-t-76 {
  padding-top: 76px !important;
}
.p-t-77 {
  padding-top: 77px !important;
}
.p-t-78 {
  padding-top: 78px !important;
}
.p-t-79 {
  padding-top: 79px !important;
}
.p-t-80 {
  padding-top: 80px !important;
}
.p-t-81 {
  padding-top: 81px !important;
}
.p-t-82 {
  padding-top: 82px !important;
}
.p-t-83 {
  padding-top: 83px !important;
}
.p-t-84 {
  padding-top: 84px !important;
}
.p-t-85 {
  padding-top: 85px !important;
}
.p-t-86 {
  padding-top: 86px !important;
}
.p-t-87 {
  padding-top: 87px !important;
}
.p-t-88 {
  padding-top: 88px !important;
}
.p-t-89 {
  padding-top: 89px !important;
}
.p-t-90 {
  padding-top: 90px !important;
}
.p-t-91 {
  padding-top: 91px !important;
}
.p-t-92 {
  padding-top: 92px !important;
}
.p-t-93 {
  padding-top: 93px !important;
}
.p-t-94 {
  padding-top: 94px !important;
}
.p-t-95 {
  padding-top: 95px !important;
}
.p-t-96 {
  padding-top: 96px !important;
}
.p-t-97 {
  padding-top: 97px !important;
}
.p-t-98 {
  padding-top: 98px !important;
}
.p-t-99 {
  padding-top: 99px !important;
}
.p-t-100 {
  padding-top: 100px !important;
}

// PADDING BOTTOM
.p-b-0 {
  padding-bottom: 0 !important;
}
.p-b-1 {
  padding-bottom: 1px !important;
}
.p-b-2 {
  padding-bottom: 2px !important;
}
.p-b-3 {
  padding-bottom: 3px !important;
}
.p-b-4 {
  padding-bottom: 4px !important;
}
.p-b-5 {
  padding-bottom: 5px !important;
}
.p-b-6 {
  padding-bottom: 6px !important;
}
.p-b-7 {
  padding-bottom: 7px !important;
}
.p-b-8 {
  padding-bottom: 8px !important;
}
.p-b-9 {
  padding-bottom: 9px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-b-11 {
  padding-bottom: 11px !important;
}
.p-b-12 {
  padding-bottom: 12px !important;
}
.p-b-13 {
  padding-bottom: 13px !important;
}
.p-b-14 {
  padding-bottom: 14px !important;
}
.p-b-15 {
  padding-bottom: 15px !important;
}
.p-b-16 {
  padding-bottom: 16px !important;
}
.p-b-17 {
  padding-bottom: 17px !important;
}
.p-b-18 {
  padding-bottom: 18px !important;
}
.p-b-19 {
  padding-bottom: 19px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.p-b-21 {
  padding-bottom: 21px !important;
}
.p-b-22 {
  padding-bottom: 22px !important;
}
.p-b-23 {
  padding-bottom: 23px !important;
}
.p-b-24 {
  padding-bottom: 24px !important;
}
.p-b-25 {
  padding-bottom: 25px !important;
}
.p-b-26 {
  padding-bottom: 26px !important;
}
.p-b-27 {
  padding-bottom: 27px !important;
}
.p-b-28 {
  padding-bottom: 28px !important;
}
.p-b-29 {
  padding-bottom: 29px !important;
}
.p-b-30 {
  padding-bottom: 30px !important;
}
.p-b-31 {
  padding-bottom: 31px !important;
}
.p-b-32 {
  padding-bottom: 32px !important;
}
.p-b-33 {
  padding-bottom: 33px !important;
}
.p-b-34 {
  padding-bottom: 34px !important;
}
.p-b-35 {
  padding-bottom: 35px !important;
}
.p-b-36 {
  padding-bottom: 36px !important;
}
.p-b-37 {
  padding-bottom: 37px !important;
}
.p-b-38 {
  padding-bottom: 38px !important;
}
.p-b-39 {
  padding-bottom: 39px !important;
}
.p-b-40 {
  padding-bottom: 40px !important;
}
.p-b-41 {
  padding-bottom: 41px !important;
}
.p-b-42 {
  padding-bottom: 42px !important;
}
.p-b-43 {
  padding-bottom: 43px !important;
}
.p-b-44 {
  padding-bottom: 44px !important;
}
.p-b-45 {
  padding-bottom: 45px !important;
}
.p-b-46 {
  padding-bottom: 46px !important;
}
.p-b-47 {
  padding-bottom: 47px !important;
}
.p-b-48 {
  padding-bottom: 48px !important;
}
.p-b-49 {
  padding-bottom: 49px !important;
}
.p-b-50 {
  padding-bottom: 50px !important;
}
.p-b-51 {
  padding-bottom: 51px !important;
}
.p-b-52 {
  padding-bottom: 52px !important;
}
.p-b-53 {
  padding-bottom: 53px !important;
}
.p-b-54 {
  padding-bottom: 54px !important;
}
.p-b-55 {
  padding-bottom: 55px !important;
}
.p-b-56 {
  padding-bottom: 56px !important;
}
.p-b-57 {
  padding-bottom: 57px !important;
}
.p-b-58 {
  padding-bottom: 58px !important;
}
.p-b-59 {
  padding-bottom: 59px !important;
}
.p-b-60 {
  padding-bottom: 60px !important;
}
.p-b-61 {
  padding-bottom: 61px !important;
}
.p-b-62 {
  padding-bottom: 62px !important;
}
.p-b-63 {
  padding-bottom: 63px !important;
}
.p-b-64 {
  padding-bottom: 64px !important;
}
.p-b-65 {
  padding-bottom: 65px !important;
}
.p-b-66 {
  padding-bottom: 66px !important;
}
.p-b-67 {
  padding-bottom: 67px !important;
}
.p-b-68 {
  padding-bottom: 68px !important;
}
.p-b-69 {
  padding-bottom: 69px !important;
}
.p-b-70 {
  padding-bottom: 70px !important;
}
.p-b-71 {
  padding-bottom: 71px !important;
}
.p-b-72 {
  padding-bottom: 72px !important;
}
.p-b-73 {
  padding-bottom: 73px !important;
}
.p-b-74 {
  padding-bottom: 74px !important;
}
.p-b-75 {
  padding-bottom: 75px !important;
}
.p-b-76 {
  padding-bottom: 76px !important;
}
.p-b-77 {
  padding-bottom: 77px !important;
}
.p-b-78 {
  padding-bottom: 78px !important;
}
.p-b-79 {
  padding-bottom: 79px !important;
}
.p-b-80 {
  padding-bottom: 80px !important;
}
.p-b-81 {
  padding-bottom: 81px !important;
}
.p-b-82 {
  padding-bottom: 82px !important;
}
.p-b-83 {
  padding-bottom: 83px !important;
}
.p-b-84 {
  padding-bottom: 84px !important;
}
.p-b-85 {
  padding-bottom: 85px !important;
}
.p-b-86 {
  padding-bottom: 86px !important;
}
.p-b-87 {
  padding-bottom: 87px !important;
}
.p-b-88 {
  padding-bottom: 88px !important;
}
.p-b-89 {
  padding-bottom: 89px !important;
}
.p-b-90 {
  padding-bottom: 90px !important;
}
.p-b-91 {
  padding-bottom: 91px !important;
}
.p-b-92 {
  padding-bottom: 92px !important;
}
.p-b-93 {
  padding-bottom: 93px !important;
}
.p-b-94 {
  padding-bottom: 94px !important;
}
.p-b-95 {
  padding-bottom: 95px !important;
}
.p-b-96 {
  padding-bottom: 96px !important;
}
.p-b-97 {
  padding-bottom: 97px !important;
}
.p-b-98 {
  padding-bottom: 98px !important;
}
.p-b-99 {
  padding-bottom: 99px !important;
}
.p-b-100 {
  padding-bottom: 100px !important;
}

// PADDING LEFT
.p-l-0 {
  padding-left: 0 !important;
}
.p-l-1 {
  padding-left: 1px !important;
}
.p-l-2 {
  padding-left: 2px !important;
}
.p-l-3 {
  padding-left: 3px !important;
}
.p-l-4 {
  padding-left: 4px !important;
}
.p-l-5 {
  padding-left: 5px !important;
}
.p-l-6 {
  padding-left: 6px !important;
}
.p-l-7 {
  padding-left: 7px !important;
}
.p-l-8 {
  padding-left: 8px !important;
}
.p-l-9 {
  padding-left: 9px !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-l-11 {
  padding-left: 11px !important;
}
.p-l-12 {
  padding-left: 12px !important;
}
.p-l-13 {
  padding-left: 13px !important;
}
.p-l-14 {
  padding-left: 14px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-l-16 {
  padding-left: 16px !important;
}
.p-l-17 {
  padding-left: 17px !important;
}
.p-l-18 {
  padding-left: 18px !important;
}
.p-l-19 {
  padding-left: 19px !important;
}
.p-l-20 {
  padding-left: 20px !important;
}
.p-l-21 {
  padding-left: 21px !important;
}
.p-l-22 {
  padding-left: 22px !important;
}
.p-l-23 {
  padding-left: 23px !important;
}
.p-l-24 {
  padding-left: 24px !important;
}
.p-l-25 {
  padding-left: 25px !important;
}
.p-l-26 {
  padding-left: 26px !important;
}
.p-l-27 {
  padding-left: 27px !important;
}
.p-l-28 {
  padding-left: 28px !important;
}
.p-l-29 {
  padding-left: 29px !important;
}
.p-l-30 {
  padding-left: 30px !important;
}
.p-l-31 {
  padding-left: 31px !important;
}
.p-l-32 {
  padding-left: 32px !important;
}
.p-l-33 {
  padding-left: 33px !important;
}
.p-l-34 {
  padding-left: 34px !important;
}
.p-l-35 {
  padding-left: 35px !important;
}
.p-l-36 {
  padding-left: 36px !important;
}
.p-l-37 {
  padding-left: 37px !important;
}
.p-l-38 {
  padding-left: 38px !important;
}
.p-l-39 {
  padding-left: 39px !important;
}
.p-l-40 {
  padding-left: 40px !important;
}
.p-l-41 {
  padding-left: 41px !important;
}
.p-l-42 {
  padding-left: 42px !important;
}
.p-l-43 {
  padding-left: 43px !important;
}
.p-l-44 {
  padding-left: 44px !important;
}
.p-l-45 {
  padding-left: 45px !important;
}
.p-l-46 {
  padding-left: 46px !important;
}
.p-l-47 {
  padding-left: 47px !important;
}
.p-l-48 {
  padding-left: 48px !important;
}
.p-l-49 {
  padding-left: 49px !important;
}
.p-l-50 {
  padding-left: 50px !important;
}
.p-l-51 {
  padding-left: 51px !important;
}
.p-l-52 {
  padding-left: 52px !important;
}
.p-l-53 {
  padding-left: 53px !important;
}
.p-l-54 {
  padding-left: 54px !important;
}
.p-l-55 {
  padding-left: 55px !important;
}
.p-l-56 {
  padding-left: 56px !important;
}
.p-l-57 {
  padding-left: 57px !important;
}
.p-l-58 {
  padding-left: 58px !important;
}
.p-l-59 {
  padding-left: 59px !important;
}
.p-l-60 {
  padding-left: 60px !important;
}
.p-l-61 {
  padding-left: 61px !important;
}
.p-l-62 {
  padding-left: 62px !important;
}
.p-l-63 {
  padding-left: 63px !important;
}
.p-l-64 {
  padding-left: 64px !important;
}
.p-l-65 {
  padding-left: 65px !important;
}
.p-l-66 {
  padding-left: 66px !important;
}
.p-l-67 {
  padding-left: 67px !important;
}
.p-l-68 {
  padding-left: 68px !important;
}
.p-l-69 {
  padding-left: 69px !important;
}
.p-l-70 {
  padding-left: 70px !important;
}
.p-l-71 {
  padding-left: 71px !important;
}
.p-l-72 {
  padding-left: 72px !important;
}
.p-l-73 {
  padding-left: 73px !important;
}
.p-l-74 {
  padding-left: 74px !important;
}
.p-l-75 {
  padding-left: 75px !important;
}
.p-l-76 {
  padding-left: 76px !important;
}
.p-l-77 {
  padding-left: 77px !important;
}
.p-l-78 {
  padding-left: 78px !important;
}
.p-l-79 {
  padding-left: 79px !important;
}
.p-l-80 {
  padding-left: 80px !important;
}
.p-l-81 {
  padding-left: 81px !important;
}
.p-l-82 {
  padding-left: 82px !important;
}
.p-l-83 {
  padding-left: 83px !important;
}
.p-l-84 {
  padding-left: 84px !important;
}
.p-l-85 {
  padding-left: 85px !important;
}
.p-l-86 {
  padding-left: 86px !important;
}
.p-l-87 {
  padding-left: 87px !important;
}
.p-l-88 {
  padding-left: 88px !important;
}
.p-l-89 {
  padding-left: 89px !important;
}
.p-l-90 {
  padding-left: 90px !important;
}
.p-l-91 {
  padding-left: 91px !important;
}
.p-l-92 {
  padding-left: 92px !important;
}
.p-l-93 {
  padding-left: 93px !important;
}
.p-l-94 {
  padding-left: 94px !important;
}
.p-l-95 {
  padding-left: 95px !important;
}
.p-l-96 {
  padding-left: 96px !important;
}
.p-l-97 {
  padding-left: 97px !important;
}
.p-l-98 {
  padding-left: 98px !important;
}
.p-l-99 {
  padding-left: 99px !important;
}
.p-l-100 {
  padding-left: 100px !important;
}

// PADDING RIGHT
.p-r-0 {
  padding-right: 0 !important;
}
.p-r-1 {
  padding-right: 1px !important;
}
.p-r-2 {
  padding-right: 2px !important;
}
.p-r-3 {
  padding-right: 3px !important;
}
.p-r-4 {
  padding-right: 4px !important;
}
.p-r-5 {
  padding-right: 5px !important;
}
.p-r-6 {
  padding-right: 6px !important;
}
.p-r-7 {
  padding-right: 7px !important;
}
.p-r-8 {
  padding-right: 8px !important;
}
.p-r-9 {
  padding-right: 9px !important;
}
.p-r-10 {
  padding-right: 10px !important;
}
.p-r-11 {
  padding-right: 11px !important;
}
.p-r-12 {
  padding-right: 12px !important;
}
.p-r-13 {
  padding-right: 13px !important;
}
.p-r-14 {
  padding-right: 14px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
.p-r-16 {
  padding-right: 16px !important;
}
.p-r-17 {
  padding-right: 17px !important;
}
.p-r-18 {
  padding-right: 18px !important;
}
.p-r-19 {
  padding-right: 19px !important;
}
.p-r-20 {
  padding-right: 20px !important;
}
.p-r-21 {
  padding-right: 21px !important;
}
.p-r-22 {
  padding-right: 22px !important;
}
.p-r-23 {
  padding-right: 23px !important;
}
.p-r-24 {
  padding-right: 24px !important;
}
.p-r-25 {
  padding-right: 25px !important;
}
.p-r-26 {
  padding-right: 26px !important;
}
.p-r-27 {
  padding-right: 27px !important;
}
.p-r-28 {
  padding-right: 28px !important;
}
.p-r-29 {
  padding-right: 29px !important;
}
.p-r-30 {
  padding-right: 30px !important;
}
.p-r-31 {
  padding-right: 31px !important;
}
.p-r-32 {
  padding-right: 32px !important;
}
.p-r-33 {
  padding-right: 33px !important;
}
.p-r-34 {
  padding-right: 34px !important;
}
.p-r-35 {
  padding-right: 35px !important;
}
.p-r-36 {
  padding-right: 36px !important;
}
.p-r-37 {
  padding-right: 37px !important;
}
.p-r-38 {
  padding-right: 38px !important;
}
.p-r-39 {
  padding-right: 39px !important;
}
.p-r-40 {
  padding-right: 40px !important;
}
.p-r-41 {
  padding-right: 41px !important;
}
.p-r-42 {
  padding-right: 42px !important;
}
.p-r-43 {
  padding-right: 43px !important;
}
.p-r-44 {
  padding-right: 44px !important;
}
.p-r-45 {
  padding-right: 45px !important;
}
.p-r-46 {
  padding-right: 46px !important;
}
.p-r-47 {
  padding-right: 47px !important;
}
.p-r-48 {
  padding-right: 48px !important;
}
.p-r-49 {
  padding-right: 49px !important;
}
.p-r-50 {
  padding-right: 50px !important;
}
.p-r-51 {
  padding-right: 51px !important;
}
.p-r-52 {
  padding-right: 52px !important;
}
.p-r-53 {
  padding-right: 53px !important;
}
.p-r-54 {
  padding-right: 54px !important;
}
.p-r-55 {
  padding-right: 55px !important;
}
.p-r-56 {
  padding-right: 56px !important;
}
.p-r-57 {
  padding-right: 57px !important;
}
.p-r-58 {
  padding-right: 58px !important;
}
.p-r-59 {
  padding-right: 59px !important;
}
.p-r-60 {
  padding-right: 60px !important;
}
.p-r-61 {
  padding-right: 61px !important;
}
.p-r-62 {
  padding-right: 62px !important;
}
.p-r-63 {
  padding-right: 63px !important;
}
.p-r-64 {
  padding-right: 64px !important;
}
.p-r-65 {
  padding-right: 65px !important;
}
.p-r-66 {
  padding-right: 66px !important;
}
.p-r-67 {
  padding-right: 67px !important;
}
.p-r-68 {
  padding-right: 68px !important;
}
.p-r-69 {
  padding-right: 69px !important;
}
.p-r-70 {
  padding-right: 70px !important;
}
.p-r-71 {
  padding-right: 71px !important;
}
.p-r-72 {
  padding-right: 72px !important;
}
.p-r-73 {
  padding-right: 73px !important;
}
.p-r-74 {
  padding-right: 74px !important;
}
.p-r-75 {
  padding-right: 75px !important;
}
.p-r-76 {
  padding-right: 76px !important;
}
.p-r-77 {
  padding-right: 77px !important;
}
.p-r-78 {
  padding-right: 78px !important;
}
.p-r-79 {
  padding-right: 79px !important;
}
.p-r-80 {
  padding-right: 80px !important;
}
.p-r-81 {
  padding-right: 81px !important;
}
.p-r-82 {
  padding-right: 82px !important;
}
.p-r-83 {
  padding-right: 83px !important;
}
.p-r-84 {
  padding-right: 84px !important;
}
.p-r-85 {
  padding-right: 85px !important;
}
.p-r-86 {
  padding-right: 86px !important;
}
.p-r-87 {
  padding-right: 87px !important;
}
.p-r-88 {
  padding-right: 88px !important;
}
.p-r-89 {
  padding-right: 89px !important;
}
.p-r-90 {
  padding-right: 90px !important;
}
.p-r-91 {
  padding-right: 91px !important;
}
.p-r-92 {
  padding-right: 92px !important;
}
.p-r-93 {
  padding-right: 93px !important;
}
.p-r-94 {
  padding-right: 94px !important;
}
.p-r-95 {
  padding-right: 95px !important;
}
.p-r-96 {
  padding-right: 96px !important;
}
.p-r-97 {
  padding-right: 97px !important;
}
.p-r-98 {
  padding-right: 98px !important;
}
.p-r-99 {
  padding-right: 99px !important;
}
.p-r-100 {
  padding-right: 100px !important;
}

// PADDING TOP BOTTOM
.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.p-y-1 {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}
.p-y-2 {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
.p-y-3 {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.p-y-4 {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.p-y-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.p-y-6 {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}
.p-y-7 {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}
.p-y-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.p-y-9 {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}
.p-y-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.p-y-11 {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.p-y-12 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}
.p-y-13 {
  padding-top: 13px !important;
  padding-bottom: 13px !important;
}
.p-y-14 {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}
.p-y-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.p-y-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.p-y-17 {
  padding-top: 17px !important;
  padding-bottom: 17px !important;
}
.p-y-18 {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}
.p-y-19 {
  padding-top: 19px !important;
  padding-bottom: 19px !important;
}
.p-y-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.p-y-21 {
  padding-top: 21px !important;
  padding-bottom: 21px !important;
}
.p-y-22 {
  padding-top: 22px !important;
  padding-bottom: 22px !important;
}
.p-y-23 {
  padding-top: 23px !important;
  padding-bottom: 23px !important;
}
.p-y-24 {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.p-y-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.p-y-26 {
  padding-top: 26px !important;
  padding-bottom: 26px !important;
}
.p-y-27 {
  padding-top: 27px !important;
  padding-bottom: 27px !important;
}
.p-y-28 {
  padding-top: 28px !important;
  padding-bottom: 28px !important;
}
.p-y-29 {
  padding-top: 29px !important;
  padding-bottom: 29px !important;
}
.p-y-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.p-y-31 {
  padding-top: 31px !important;
  padding-bottom: 31px !important;
}
.p-y-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}
.p-y-33 {
  padding-top: 33px !important;
  padding-bottom: 33px !important;
}
.p-y-34 {
  padding-top: 34px !important;
  padding-bottom: 34px !important;
}
.p-y-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}
.p-y-36 {
  padding-top: 36px !important;
  padding-bottom: 36px !important;
}
.p-y-37 {
  padding-top: 37px !important;
  padding-bottom: 37px !important;
}
.p-y-38 {
  padding-top: 38px !important;
  padding-bottom: 38px !important;
}
.p-y-39 {
  padding-top: 39px !important;
  padding-bottom: 39px !important;
}
.p-y-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.p-y-41 {
  padding-top: 41px !important;
  padding-bottom: 41px !important;
}
.p-y-42 {
  padding-top: 42px !important;
  padding-bottom: 42px !important;
}
.p-y-43 {
  padding-top: 43px !important;
  padding-bottom: 43px !important;
}
.p-y-44 {
  padding-top: 44px !important;
  padding-bottom: 44px !important;
}
.p-y-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}
.p-y-46 {
  padding-top: 46px !important;
  padding-bottom: 46px !important;
}
.p-y-47 {
  padding-top: 47px !important;
  padding-bottom: 47px !important;
}
.p-y-48 {
  padding-top: 48px !important;
  padding-bottom: 48px !important;
}
.p-y-49 {
  padding-top: 49px !important;
  padding-bottom: 49px !important;
}
.p-y-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.p-y-51 {
  padding-top: 51px !important;
  padding-bottom: 51px !important;
}
.p-y-52 {
  padding-top: 52px !important;
  padding-bottom: 52px !important;
}
.p-y-53 {
  padding-top: 53px !important;
  padding-bottom: 53px !important;
}
.p-y-54 {
  padding-top: 54px !important;
  padding-bottom: 54px !important;
}
.p-y-55 {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}
.p-y-56 {
  padding-top: 56px !important;
  padding-bottom: 56px !important;
}
.p-y-57 {
  padding-top: 57px !important;
  padding-bottom: 57px !important;
}
.p-y-58 {
  padding-top: 58px !important;
  padding-bottom: 58px !important;
}
.p-y-59 {
  padding-top: 59px !important;
  padding-bottom: 59px !important;
}
.p-y-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}
.p-y-61 {
  padding-top: 61px !important;
  padding-bottom: 61px !important;
}
.p-y-62 {
  padding-top: 62px !important;
  padding-bottom: 62px !important;
}
.p-y-63 {
  padding-top: 63px !important;
  padding-bottom: 63px !important;
}
.p-y-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}
.p-y-65 {
  padding-top: 65px !important;
  padding-bottom: 65px !important;
}
.p-y-66 {
  padding-top: 66px !important;
  padding-bottom: 66px !important;
}
.p-y-67 {
  padding-top: 67px !important;
  padding-bottom: 67px !important;
}
.p-y-68 {
  padding-top: 68px !important;
  padding-bottom: 68px !important;
}
.p-y-69 {
  padding-top: 69px !important;
  padding-bottom: 69px !important;
}
.p-y-70 {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}
.p-y-71 {
  padding-top: 71px !important;
  padding-bottom: 71px !important;
}
.p-y-72 {
  padding-top: 72px !important;
  padding-bottom: 72px !important;
}
.p-y-73 {
  padding-top: 73px !important;
  padding-bottom: 73px !important;
}
.p-y-74 {
  padding-top: 74px !important;
  padding-bottom: 74px !important;
}
.p-y-75 {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}
.p-y-76 {
  padding-top: 76px !important;
  padding-bottom: 76px !important;
}
.p-y-77 {
  padding-top: 77px !important;
  padding-bottom: 77px !important;
}
.p-y-78 {
  padding-top: 78px !important;
  padding-bottom: 78px !important;
}
.p-y-79 {
  padding-top: 79px !important;
  padding-bottom: 79px !important;
}
.p-y-80 {
  padding-top: 80px !important;
  padding-bottom: 80px !important;
}
.p-y-81 {
  padding-top: 81px !important;
  padding-bottom: 81px !important;
}
.p-y-82 {
  padding-top: 82px !important;
  padding-bottom: 82px !important;
}
.p-y-83 {
  padding-top: 83px !important;
  padding-bottom: 83px !important;
}
.p-y-84 {
  padding-top: 84px !important;
  padding-bottom: 84px !important;
}
.p-y-85 {
  padding-top: 85px !important;
  padding-bottom: 85px !important;
}
.p-y-86 {
  padding-top: 86px !important;
  padding-bottom: 86px !important;
}
.p-y-87 {
  padding-top: 87px !important;
  padding-bottom: 87px !important;
}
.p-y-88 {
  padding-top: 88px !important;
  padding-bottom: 88px !important;
}
.p-y-89 {
  padding-top: 89px !important;
  padding-bottom: 89px !important;
}
.p-y-90 {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}
.p-y-91 {
  padding-top: 91px !important;
  padding-bottom: 91px !important;
}
.p-y-92 {
  padding-top: 92px !important;
  padding-bottom: 92px !important;
}
.p-y-93 {
  padding-top: 93px !important;
  padding-bottom: 93px !important;
}
.p-y-94 {
  padding-top: 94px !important;
  padding-bottom: 94px !important;
}
.p-y-95 {
  padding-top: 95px !important;
  padding-bottom: 95px !important;
}
.p-y-96 {
  padding-top: 96px !important;
  padding-bottom: 96px !important;
}
.p-y-97 {
  padding-top: 97px !important;
  padding-bottom: 97px !important;
}
.p-y-98 {
  padding-top: 98px !important;
  padding-bottom: 98px !important;
}
.p-y-99 {
  padding-top: 99px !important;
  padding-bottom: 99px !important;
}
.p-y-100 {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}

// PADDING LEFT RIGHT
.p-x-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.p-x-1 {
  padding-left: 1px !important;
  padding-right: 1px !important;
}
.p-x-2 {
  padding-left: 2px !important;
  padding-right: 2px !important;
}
.p-x-3 {
  padding-left: 3px !important;
  padding-right: 3px !important;
}
.p-x-4 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.p-x-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.p-x-6 {
  padding-left: 6px !important;
  padding-right: 6px !important;
}
.p-x-7 {
  padding-left: 7px !important;
  padding-right: 7px !important;
}
.p-x-8 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.p-x-9 {
  padding-left: 9px !important;
  padding-right: 9px !important;
}
.p-x-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.p-x-11 {
  padding-left: 11px !important;
  padding-right: 11px !important;
}
.p-x-12 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.p-x-13 {
  padding-left: 13px !important;
  padding-right: 13px !important;
}
.p-x-14 {
  padding-left: 14px !important;
  padding-right: 14px !important;
}
.p-x-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.p-x-16 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.p-x-17 {
  padding-left: 17px !important;
  padding-right: 17px !important;
}
.p-x-18 {
  padding-left: 18px !important;
  padding-right: 18px !important;
}
.p-x-19 {
  padding-left: 19px !important;
  padding-right: 19px !important;
}
.p-x-20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.p-x-21 {
  padding-left: 21px !important;
  padding-right: 21px !important;
}
.p-x-22 {
  padding-left: 22px !important;
  padding-right: 22px !important;
}
.p-x-23 {
  padding-left: 23px !important;
  padding-right: 23px !important;
}
.p-x-24 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.p-x-25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.p-x-26 {
  padding-left: 26px !important;
  padding-right: 26px !important;
}
.p-x-27 {
  padding-left: 27px !important;
  padding-right: 27px !important;
}
.p-x-28 {
  padding-left: 28px !important;
  padding-right: 28px !important;
}
.p-x-29 {
  padding-left: 29px !important;
  padding-right: 29px !important;
}
.p-x-30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.p-x-31 {
  padding-left: 31px !important;
  padding-right: 31px !important;
}
.p-x-32 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.p-x-33 {
  padding-left: 33px !important;
  padding-right: 33px !important;
}
.p-x-34 {
  padding-left: 34px !important;
  padding-right: 34px !important;
}
.p-x-35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}
.p-x-36 {
  padding-left: 36px !important;
  padding-right: 36px !important;
}
.p-x-37 {
  padding-left: 37px !important;
  padding-right: 37px !important;
}
.p-x-38 {
  padding-left: 38px !important;
  padding-right: 38px !important;
}
.p-x-39 {
  padding-left: 39px !important;
  padding-right: 39px !important;
}
.p-x-40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.p-x-41 {
  padding-left: 41px !important;
  padding-right: 41px !important;
}
.p-x-42 {
  padding-left: 42px !important;
  padding-right: 42px !important;
}
.p-x-43 {
  padding-left: 43px !important;
  padding-right: 43px !important;
}
.p-x-44 {
  padding-left: 44px !important;
  padding-right: 44px !important;
}
.p-x-45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}
.p-x-46 {
  padding-left: 46px !important;
  padding-right: 46px !important;
}
.p-x-47 {
  padding-left: 47px !important;
  padding-right: 47px !important;
}
.p-x-48 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}
.p-x-49 {
  padding-left: 49px !important;
  padding-right: 49px !important;
}
.p-x-50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.p-x-51 {
  padding-left: 51px !important;
  padding-right: 51px !important;
}
.p-x-52 {
  padding-left: 52px !important;
  padding-right: 52px !important;
}
.p-x-53 {
  padding-left: 53px !important;
  padding-right: 53px !important;
}
.p-x-54 {
  padding-left: 54px !important;
  padding-right: 54px !important;
}
.p-x-55 {
  padding-left: 55px !important;
  padding-right: 55px !important;
}
.p-x-56 {
  padding-left: 56px !important;
  padding-right: 56px !important;
}
.p-x-57 {
  padding-left: 57px !important;
  padding-right: 57px !important;
}
.p-x-58 {
  padding-left: 58px !important;
  padding-right: 58px !important;
}
.p-x-59 {
  padding-left: 59px !important;
  padding-right: 59px !important;
}
.p-x-60 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
.p-x-61 {
  padding-left: 61px !important;
  padding-right: 61px !important;
}
.p-x-62 {
  padding-left: 62px !important;
  padding-right: 62px !important;
}
.p-x-63 {
  padding-left: 63px !important;
  padding-right: 63px !important;
}
.p-x-64 {
  padding-left: 64px !important;
  padding-right: 64px !important;
}
.p-x-65 {
  padding-left: 65px !important;
  padding-right: 65px !important;
}
.p-x-66 {
  padding-left: 66px !important;
  padding-right: 66px !important;
}
.p-x-67 {
  padding-left: 67px !important;
  padding-right: 67px !important;
}
.p-x-68 {
  padding-left: 68px !important;
  padding-right: 68px !important;
}
.p-x-69 {
  padding-left: 69px !important;
  padding-right: 69px !important;
}
.p-x-70 {
  padding-left: 70px !important;
  padding-right: 70px !important;
}
.p-x-71 {
  padding-left: 71px !important;
  padding-right: 71px !important;
}
.p-x-72 {
  padding-left: 72px !important;
  padding-right: 72px !important;
}
.p-x-73 {
  padding-left: 73px !important;
  padding-right: 73px !important;
}
.p-x-74 {
  padding-left: 74px !important;
  padding-right: 74px !important;
}
.p-x-75 {
  padding-left: 75px !important;
  padding-right: 75px !important;
}
.p-x-76 {
  padding-left: 76px !important;
  padding-right: 76px !important;
}
.p-x-77 {
  padding-left: 77px !important;
  padding-right: 77px !important;
}
.p-x-78 {
  padding-left: 78px !important;
  padding-right: 78px !important;
}
.p-x-79 {
  padding-left: 79px !important;
  padding-right: 79px !important;
}
.p-x-80 {
  padding-left: 80px !important;
  padding-right: 80px !important;
}
.p-x-81 {
  padding-left: 81px !important;
  padding-right: 81px !important;
}
.p-x-82 {
  padding-left: 82px !important;
  padding-right: 82px !important;
}
.p-x-83 {
  padding-left: 83px !important;
  padding-right: 83px !important;
}
.p-x-84 {
  padding-left: 84px !important;
  padding-right: 84px !important;
}
.p-x-85 {
  padding-left: 85px !important;
  padding-right: 85px !important;
}
.p-x-86 {
  padding-left: 86px !important;
  padding-right: 86px !important;
}
.p-x-87 {
  padding-left: 87px !important;
  padding-right: 87px !important;
}
.p-x-88 {
  padding-left: 88px !important;
  padding-right: 88px !important;
}
.p-x-89 {
  padding-left: 89px !important;
  padding-right: 89px !important;
}
.p-x-90 {
  padding-left: 90px !important;
  padding-right: 90px !important;
}
.p-x-91 {
  padding-left: 91px !important;
  padding-right: 91px !important;
}
.p-x-92 {
  padding-left: 92px !important;
  padding-right: 92px !important;
}
.p-x-93 {
  padding-left: 93px !important;
  padding-right: 93px !important;
}
.p-x-94 {
  padding-left: 94px !important;
  padding-right: 94px !important;
}
.p-x-95 {
  padding-left: 95px !important;
  padding-right: 95px !important;
}
.p-x-96 {
  padding-left: 96px !important;
  padding-right: 96px !important;
}
.p-x-97 {
  padding-left: 97px !important;
  padding-right: 97px !important;
}
.p-x-98 {
  padding-left: 98px !important;
  padding-right: 98px !important;
}
.p-x-99 {
  padding-left: 99px !important;
  padding-right: 99px !important;
}
.p-x-100 {
  padding-left: 100px !important;
  padding-right: 100px !important;
}
.p-x-120 {
  padding-left: 120px !important;
  padding-right: 120px !important;
}
